* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

.title {
  font-family: 'Inconsolata', monospace;
  margin: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 586px;
  justify-content: space-between;
}

.image {
  height: 447.4263916015625px;
  width: 539.2236938476562px;
}

.span-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -0.035em;
  text-align: left;
  margin: 20px;
}

.span-body {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  width: 381px;
  margin: 20px;
}

.button {
  height: 68px;
  width: 216px;
  border-radius: 0px;
  font-family: Space Mono;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.035em;
  background: #333333;
  color: #FFFFFF;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .text-container{
    width: 100%;
  }

  .image{
    width: 100%;
  }
}